<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>    
    <ion-title>{{ 'page.social' | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="social-header">
    <div class="center">
        <img [src]="userService.getPicture()">
        <h2>{{ userService.getFullname() }}</h2>
        <p>{{userService.getAddress()}}</p>
    </div>
    <ion-grid>
      <ion-row>
        <ion-col>
          Pontos
        </ion-col>
        <ion-col>
          {{userService.info('points')}}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          Perdeu
        </ion-col>
        <ion-col>
          {{userService.lostWeight()}}
        </ion-col>
      </ion-row>
      <ion-row *ngIf="userService.timeElapsed()">
        <ion-col>
          Operado há
        </ion-col>
        <ion-col>
          {{userService.timeElapsed()}} dias
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <ion-segment [(ngModel)]="segment" color="primary" (ionChange)="segmentChanged($event)">
    <ion-segment-button value="feed">
      Feed
    </ion-segment-button>
    <ion-segment-button value="forum">
      Foruns
    </ion-segment-button>
    <ion-segment-button value="users">
      Usuários
    </ion-segment-button>
  </ion-segment>

  <div [ngSwitch]="segment">

    <div *ngSwitchCase="'feed'">
      <div class="list">
        <div ion-item class="item-post" *ngFor='let post of posts'>
          <ion-grid>
            <ion-row>
              <ion-col class="social-line-img" col-3 (click)="openUser(post.user.id)">
                  <img [src]="userService.getPicture(post.user)">
              </ion-col>
              <ion-col class="social-line-content" (click)="openForum(post.forum.id)">
                  <div>
                    <b>{{post.forum.name}}</b>:
                    <div>{{post.text}}</div>
                  </div>
                  <p>por 
                    <b *ngIf="post.user.id == userService.info('id')">você</b>
                    <b *ngIf="post.user.id != userService.info('id')">{{userService.getFullname(post.user)}}</b>
                  </p>
                  <div class="post-date" am-time-ago="post.created_at"></div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </div>
    </div>

    <div *ngSwitchCase="'forum'">
        <button class="btn-create-forum" ion-button round (click)="formForum()">
          <ion-icon name="md-add"></ion-icon>
          <div>Forum</div>
        </button>
      <div class="list">
        <div ion-item class="item-forum" *ngFor='let forum of foruns'>
            <ion-grid>
              <ion-row>
                <ion-col class="social-line-img" col-3 (click)="openUser(forum.user.id)">
                  <img [src]="userService.getPicture(forum.user)">
                </ion-col>
                <ion-col class="social-line-content" (click)="openForum(forum.id)">
                    <h2>{{forum.name}}</h2>
                    <p>por 
                      <b *ngIf="forum.user.id == userService.info('id')">você</b>
                      <b *ngIf="forum.user.id != userService.info('id')">{{userService.getFullname(forum.user)}}</b>
                    </p>
                </ion-col>
                <!--<ion-col col-2>
                    <button *ngIf="forum.user.id == userService.info('id')" (click)="removeForum($event, $index)" icon-only ion-button color="danger">
                        <ion-icon name="md-trash"></ion-icon>
                    </button>
                </ion-col>-->
              </ion-row>
            </ion-grid>
          </div> 
        </div>
    </div>

    <div *ngSwitchCase="'users'">
      <div ion-item class="item-users" *ngFor='let user of users; let i = index'>
          <ion-grid>
            <ion-row (click)="openUser(user.id)">
              <ion-col col-3 class="social-line-img">
                <img [src]="userService.getPicture(user)">
              </ion-col>
              <ion-col class="social-line-content">
                <div>{{userService.getFullname(user)}}</div>
                <small *ngIf="userService.timeElapsed(user)">
                    Operado há {{userService.timeElapsed(user)}} dias
                </small>
              </ion-col>
            </ion-row>
          </ion-grid>
      </div>
    </div>
  </div>
</ion-content>