page-social {
    .social-header {
        img {
            border-radius: 50%;
            width: 150px;
            height: 150px;
        }
        p {
            color: #aaa;
            padding: 0;
            margin: 0;
        }
        h2 {
            margin: 5px;
            color:#565656;
        }
    }

    .item-post, .item-forum, .item-users {
        padding-left: 0;

        ion-grid {
            padding: 0 5px !important;
        }
        ion-label {
            margin: 10px 8px 10px 0 !important;
        }
        .social-line-img {
            text-align: center;
            padding: 10px;
        }
        .social-line-content {
            padding-top: 15px;
            padding-left: 8px;
        }

        img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
        }
    }
    .btn-create-forum {
        position: absolute;
        bottom: 10px;
        right: 10px;
        width: 70px;
        height: 70px;
        font-size: 12px;
        
        .button-inner {
            flex-flow: column;
        }

        ion-icon {
            font-weight: bold;
            font-size: 30px;
            display: block;
        }
    }

}
