<ion-content class="padding">
  <button class="menuToggle" ion-button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>

  <br>
  <div class="center" *ngIf="userService.lostWeight()">
    Você já perdeu <b>{{userService.lostWeight()}}kg</b>
  </div>
  <div class="center" *ngIf="!userService.lostWeight() && userService.info('last_weight')">
    Você ainda não perdeu nenhum kg.
  </div>
  <div class="center" *ngIf="!userService.lostWeight() && !userService.info('last_weight')">
    Cadastre seus pesos diariamente para acompanhar sua evolução.
  </div>

  <ion-grid class="monitor-buttons">
    <ion-row>
      <ion-col class="animated jackInTheBox btn1" col-6>
        <button full (click)="openPage('PhotosPage')">
          <ion-icon name="ios-image"></ion-icon>&nbsp;
        </button>
        <div>Fotos</div>
      </ion-col>
      <ion-col class="animated jackInTheBox btn2" col-6>
        <button full (click)="openPage('WeightsPage')">
          <ion-icon name="md-analytics"></ion-icon>&nbsp;
        </button>
        <div>Pesagens</div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="animated jackInTheBox btn3" col-6>
        <button (click)="openPage('FoodPage')">
          <ion-icon name="ios-nutrition-outline"></ion-icon><br>
        </button>
        <div>Refeições</div>
      </ion-col>
      <ion-col class="animated jackInTheBox btn4" col-6>
        <button (click)="openPage('WaterPage')">
          <ion-icon name="md-beaker"></ion-icon><br>
        </button>
        <div>Água</div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="animated jackInTheBox btn5" col-6>
        <button (click)="openPage('MedicinePage')">
          <ion-icon name="md-medkit"></ion-icon><br>
        </button>
        <div>Remédios</div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer class="">
    <div class="your-progress">Seu Progresso</div>
    <progress-bar *ngIf="userService.timePercent()" [progress]="userService.timePercent()"></progress-bar>
</ion-footer>
