<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>    
    <ion-title>{{ 'page.water' | translate }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-navbar color="primary">
      <ion-buttons end>
          <button ion-button (click)="showWaterAlert()">Adicionar Consumo</button>
      </ion-buttons>
  </ion-navbar>
  

  <div *ngIf="water && water.length">
      <br>
      <h4 class="center">Ultimas consumos</h4>
      <ion-grid>
          <ion-row *ngFor="let row of water">
            <ion-col col-8>
                {{row.qtt+' ml'}}
            </ion-col>
            <ion-col col-4>
              {{moment(row.created_at).format('DD/MM HH:mm')}}
            </ion-col>
          </ion-row>
      </ion-grid>
    </div>
    <div class="none-found" *ngIf="water && !water.length">
      Você ainda não consumiu água hoje.
    </div>

</ion-content>
