page-notification {
    .page-desc {
        text-align: center;
        font-size: 1.6rem;
        padding: 20px 11px;
        color: #545454;
    }
    .local-notifications {
        small {
            display: block;
            color: #545454;
        }
    }
}
