<ion-split-pane>

<ion-menu [content]="content">
  <ion-header class="header-menu">
      <ion-grid>
        <ion-row>
          <ion-col col-3>
            <img src="assets/half-logo.png">
          </ion-col>
          <ion-col>
            <div class="menu-username">{{userService.getFullname()}}</div>
            <div class="menu-goprofile" (click)="openProfilePage()">Ver perfil</div>
          </ion-col>
        </ion-row>
      </ion-grid>
  </ion-header>

  <ion-content>
    <ion-list>
      <button [ngClass]="p.component" ion-item *ngFor="let p of pages" (click)="openPage(p)">
        <ion-icon [name]="p.icon"></ion-icon>
        {{p.title | translate }}
        <ion-list *ngIf="p.subpages" >
          <button *ngFor="let p2 of p.subpages" (click)="openPage(p2)">
            {{p.title | translate }}
          </button>
        </ion-list>
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" main #content swipeBackEnabled="false"></ion-nav>

</ion-split-pane>