// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
 .center {
     text-align: center;
 }

 .btn-icon-top {
     height: 55px;
     padding-top: 4px; 
    .button-inner {
        display: block;
        ion-icon {
            font-size: 30px;
        }
    }
 }

 .header-menu {
     color: #fff;
     .menu-username {
        font-weight: bold;
        font-size: 15pt;
     }
 }
ion-toast {

    z-index: 70000 !important;

    &.toast-success {
        font-weight: bold;
        white-space: pre-line;
        div.toast-wrapper {
        background-color: $color-green;
        font-size: 0.8em;
        }
    }

    &.toast-error {
        font-weight: bold;
        white-space: pre-line;
        div.toast-wrapper {
        background-color: $color-red;
        font-size: 0.8em;
        }
    }

    &.toast-warning {
        white-space: pre-line;
        font-weight: bold;
        div.toast-wrapper {
        background-color: $color-yellow;
        font-size: 0.8em;
        }
    }

    .toast-wrapper {

        .toast-message {
        font-size: 1.2em;
        }

    }

    &.toast-header {
        bottom: 0.0em;
    }
}

rating {
    color: #fcb400;
    font-size: 20pt;
    ul {
        margin: 5px;
        padding: 0px !important;
        li {
            padding: 0 !important;
        }
    }
}

ion-modal.my-modal {
    .modal-wrapper {
        height: 212px !important;
        width: 290px;
        max-width: 99%;
    }
}
ion-modal.my-modal {
    @media (min-height: 500px) {
        ion-backdrop {
        visibility: visible;
        }
    }

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: $z-index-overlay;

    display: flex;

    align-items: center;
    justify-content: center;

    contain: strict;
    .modal-wrapper {
        &,
        .ion-page,
        .ion-page .content,
        .ion-page .content .scroll-content {
            contain: content;
            position: relative;
            top: auto;
            left: auto;
        }

        z-index: $z-index-overlay-wrapper;
        display: flex;
        overflow: hidden;

        flex-direction: column;

        min-width: $alert-min-width;
        max-height: $alert-max-height;

        opacity: 0;

        height: auto;
        max-width: $alert-md-max-width;
        border-radius: $alert-md-border-radius;
        background-color: $alert-md-background-color;
        box-shadow: $alert-md-box-shadow;

        .ion-page .content {
            background-color: color($colors, light);
        }
    }
}


ion-header {
    background-color: #896ee9 !important;
    .toolbar-title, ion-icon {
        color: #fff;
    }
}
.toolbar-background {
    background-color: transparent;
}