<ion-split-pane>

<ion-menu [content]="content" type="overlay">
  <ion-header class="header-menu">
      <ion-grid>
        <ion-row>
          <ion-col col-3>
            <img src="assets/half-logo.png">
          </ion-col>
          <ion-col>
            <div class="menu-username">{{userService.getFullname()}}</div>
            <div class="menu-goprofile" (click)="openProfilePage()">Ver perfil</div>
          </ion-col>
        </ion-row>
      </ion-grid>
  </ion-header>

  <ion-content>
    <ion-list class="main-menu">
      <div [ngClass]="menuClass(p.component)" ion-item *ngFor="let p of pages; let i = index" (click)="openPage(p, $event, i)">
        
        <ion-icon [name]="p.icon"></ion-icon>
        {{p.title | translate }}

        <!--submenu-->
        <ion-list *ngIf="p.subpages" class="submenu" [ngClass]="{hidden: openedSubmenu !== i}">
          <div ion-item *ngFor="let p2 of p.subpages" (click)="openPage(p2)">
            <ion-icon name="md-arrow-dropright"></ion-icon>
            {{p2.title | translate }}
          </div>
        </ion-list>

      </div>
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" main #content swipeBackEnabled="false"></ion-nav>

</ion-split-pane>