<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>    
    <ion-title>{{ 'page.calendar' | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
    <ion-navbar color="primary">
        <ion-buttons end>
            <button ion-button (click)="newEvent()">Novo Compromisso</button>
        </ion-buttons>
    </ion-navbar>
  
    <ion-calendar [(ngModel)]="date"
        (onChange)="onChange($event)"
        [type]="type"
        [options]="options"
        [format]="'YYYY-MM-DD'">
    </ion-calendar>

    <div *ngIf="pageReady">
        <div class="center" *ngIf="selectedDay && !schedules[selectedDay]">
            Nenhum compromisso cadastrado no dia <b>{{selectedDay}}</b>.
        </div>
        <div *ngIf="schedules[selectedDay]">
            <ion-grid class="schedules-list">
                <ion-row *ngFor="let schedule of schedules[selectedDay]">
                    <ion-col col-10>
                        <div class="schedule-title">{{schedule.formatedTime}} - {{schedule.title}}</div>
                    </ion-col>
                    <ion-col col-2>
                        <button ion-button color="danger" (click)="removeSchedule(schedule)">
                            <ion-icon name="md-trash"></ion-icon>
                        </button>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
    </div>
    
</ion-content>