<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>    
    <ion-title>{{ 'page.weights' | translate }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-navbar color="primary">
      <ion-buttons end>
          <button ion-button (click)="showWeightAlert()">Adicionar Peso</button>
      </ion-buttons>
  </ion-navbar>

  <div *ngIf="weights && weights.length">
    <br>
    <h4 class="center">Ultimas pesagens</h4>
    <ion-grid>
        <ion-row *ngFor="let row of weights">
          <ion-col col-8>
              {{row.weight+' kg'}}
          </ion-col>
          <ion-col col-4>
            {{moment(row.created_at).format('DD/MM HH:mm')}}
          </ion-col>
        </ion-row>
    </ion-grid>
  </div>
  <div class="center" *ngIf="weights && !weights.length">
    Você ainda não consumiu água hoje.
  </div>

</ion-content>
